@import "tailwindcss";


:root {
  --background: #007074;
  --highlight: #F38C79;
  --app-white: #F9EFED;
  --app-black: #2C3033;
  --text-color: #FFF;
}

@theme {
  --font-poppins: var(--font-geist-poppins);
}


body {
  background: var(--background);
  font-family: var(--font-poppins), sans-serif;
  color: var(--text-color);
}
